.hamburger {
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    left: 18px;
    position: absolute;
    top: 18px;
    visibility: visible;
    z-index: 1001;
}

.hamburger > div {
    background-color: rgba(0, 0, 0, 0.14);
    height: 3px;
    margin: 6px 6px;
    width: 21px;
}

.hamburger:hover {
    background-color: rgba(0, 0, 0, 0.14);
    border-color: #fff;
    display: inline-block;
}

.hamburger:hover > div {
    background-color: #fff;
}
