@font-face {
    font-family: quest;
    src: url(../fonts/quest.ttf);
}

body {
    margin: 0;
}

.app {
    color: #FFF;
    font-family: quest;
    font-size: 30px;
    padding: 50px;
    text-align: center;
    margin-left: 300px;
}

.app .logo {
    height: 220px;
    filter: drop-shadow(3px 3px 3px #a9a9a9);
}

.app h1 {
    color: #398195;
    font-size: 5em;
    letter-spacing: 5px;
    margin: 0.16em;
    text-shadow: 3px 3px 3px #a9a9a9;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
